body {
  background-image: linear-gradient(to right top, rgb(244, 164, 203),rgb(255, 129, 177));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zero {
  cursor: pointer;
  color: rgb(0, 140, 255);
  border: 1px dashed rgb(0, 140, 255);
  padding: 3px 5px;
}
.up, .down {
  color: rgb(155, 153, 153);
  font-size: 70px;
  cursor: pointer;
  opacity: 0.5;
}
.up:hover, .down:hover{
  color:rgb(66, 65, 65);
}
.hidden{
  visibility: hidden;
}
.number{
  color: white;
  font-size: 70px;
}